<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/flex.css}">
    <link rel="stylesheet" th:href="@{/css/links.css}">
</head>
<body>


<section class="grid-container">

    <section class="grid-item header">
        <h1>HEADER</h1>
        <div th:replace="fragments/main.html :: authentication"></div>
        <div>
            <a th:href="@{/categories/new}">create new category</a>
        </div>
    </section>


    <section class="grid-item middle-columns">
        <ul class="flex-container row justify-center">
            <li><a th:href="@{/categories/all/(categoriesOrderType=POST_COUNT_DESC)}">
                Post Count - most</a></li>
            <li><a th:href="@{/categories/all/(categoriesOrderType=POST_COUNT_ASC)}">
                Post Count - least</a></li>
            <li><a th:href="@{/categories/all/(categoriesOrderType=FOLLOWER_COUNT_DESC)}">
                Follower Count - most</a></li>
            <li><a th:href="@{/categories/all/(categoriesOrderType=FOLLOWER_COUNT_ASC)}">
                Follower Count - least</a></li>
            <li><a th:href="@{/categories/all/(categoriesOrderType=POST_DATE_DESC)}">
                Newest Post</a></li>
            <li><a th:href="@{/categories/all/(categoriesOrderType=POST_DATE_ASC)}">
                Oldest Post</a></li>
        </ul>
    </section>

    <section class="grid-item main middle-columns">
        <div class="margin" th:each="category: ${categories}">
            <div><p><a th:href="@{/reviews/(categoryId=${category.id})}"
                       th:text="${category.name}"></a></p>
                <p th:text="| by ${category.getUser().getUsername()}|"></p>

                <p><span th:text="${category.description}"></span></p>
            </div>
            <form method="post" th:action="@{/categories/follow/{id}/(id=${category.id})}">
                <input value="follow" type="submit">
            </form>
        </div>
    </section>

    <section class="grid-item middle-columns">
        <p>
            <a th:href="@{/categories/all/(pageNumber=${pageNumber - 1}, categoriesOderType=${orderType})}"
               th:if="${pageNumber != 0}">
                < </a>
            <span th:text="${pageNumber} + 1">current page</span>
            <span>/</span>
            <span th:text="${pageCount}">total pages</span>
            <a th:href="@{/categories/all/(pageNumber=${pageNumber + 1}, categoriesOderType=${orderType})}"
               th:if="${hasNextPage}">
                > </a>
        </p>
    </section>


</section>

</body>
</html>