<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <a th:href="@{/categories/all/(categoriesOrderType=POST_COUNT_DESC)}">
        Post Count - most</a>
    <a th:href="@{/categories/all/(categoriesOrderType=POST_COUNT_ASC)}">
        Post Count - least</a>
    <a th:href="@{/categories/all/(categoriesOrderType=FOLLOWER_COUNT_DESC)}">
        Follower Count - most</a>
    <a th:href="@{/categories/all/(categoriesOrderType=FOLLOWER_COUNT_ASC)}">
        Follower Count - least</a>
    <a th:href="@{/categories/all/(categoriesOrderType=POST_DATE_DESC)}">
        Newest Post</a>
    <a th:href="@{/categories/all/(categoriesOrderType=POST_DATE_ASC)}">
        Oldest Post</a>
</div>

<div th:each="category: ${categories}">


    <p> Category: <span><a th:href="@{/reviews/(categoryId=${category.id})}" th:text="${category.name}"></a><span
            th:text="${category.user.username}"></span><span th:text="${category.id}"></span></span>
    </p>
    <form method="post" th:action="@{/categories/follow/{id}/(id=${category.id})}">
        <span>follow</span>
        <input type="submit">
    </form>

</div>


<div>
    <p>
        <a th:href="@{/categories/all/(pageNumber=${pageNumber - 1})}"
           th:if="${pageNumber != 0}">
            < </a>
        <span th:text="${pageNumber} + 1">current page</span>
        <span>/</span>
        <span th:text="${pageCount}">total pages</span>
        <a th:href="@{/categories/all/(pageNumber=${pageNumber + 1})}"
           th:if="${hasNextPage}">
            > </a>
    </p>
</div>

</body>
</html>