<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post"

      th:action="@{/reviews/submit/(categoryId=${categoryId})}"
      th:object="${review}">

    <input th:field="*{id}" type="hidden"/>

    <p>Name your review: <input th:field="*{title}" type="text"></p>

    <p> Review: <input th:field="*{text}" type="text"/></p>

    <p><input th:value="${review.id != null ? 'Edit' : 'Create'}" type="submit"/></p>
    <a th:href="@{/reviews/delete/{id}/(id=${review.id})}">delete review</a>

</form>

</body>
</html>