<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/tooltip.css}">
</head>
<body>

<div>
    <p th:text="${review.id}"></p>
    <p th:text="${review.reviewer}"></p>
    <p th:text="${review.author}"></p>
    <p th:text="${review.title}"></p>
    <p th:text="${review.rating}"></p>

    <p th:text="${review.reviewText}"></p>
</div>

<div>
    <p>The review has <span th:text="${commentCount}"></span> comments</p>
</div>

<div>
    <div sec:authorize="isAuthenticated()">
        <div>
            <form method="post" th:action="@{/comment/submit/{id}/(id=${review.getId()})}" th:object="${newComment}">
                <input th:field="*{id}" type="hidden"/>

                <p>Leave a comment! <input th:field="*{text}" type="text"/></p>

                <p><input th:value="${newComment.id != null ? 'Edit' : 'Create'}" type="submit"/></p>
            </form>
        </div>
    </div>
    <div sec:authorize="isAnonymous()" class="tooltip"><p class="tooltiptext">sign in to leave a comment</p>
        <a>
            Leave a comment!</a>
    </div>
</div>


<div th:each="comment: ${comments}">
    <p th:text="${comment.user.username}"></p>
    <p th:text="${comment.text}"></p>
</div>

<div>
    <a th:href="@{/reviews/edit/{id}/(id=${review.id})}">edit review</a>
    <a th:href="@{/reviews/delete/{id}/(id=${review.id})}">delete review</a>
</div>

</body>
</html>