<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/flex.css}">
    <link rel="stylesheet" th:href="@{/css/links.css}">
</head>
<body>
<section class="grid-container">
    <section class="grid-item header">
        <ul class="flex-container row justify-center">
            <li><a th:href="@{/categories/all}">Categories</a></li>
            <li><a th:href="@{/reviews/form/(categoryId=${categoryId})}">New Review</a></li>
            <li>
                <div th:replace="fragments/main.html :: authentication"></div>
            </li>
            <li>
                <div sec:authorize="isAuthenticated()"><a
                        th:with="user = ${#authentication.principal}"
                        th:href="@{/user/user/{id}/(id=${user.id})}">My profile</a></div>
            </li>
        </ul>
    </section>

    <section class="grid-item middle-columns">

        <div class="flex-container row justify-center">
            <a th:href="@{/reviews/(reviewOrderType=COMMENT_COUNT_DESC,categoryId=${categoryId})}">
                Comments - most</a>
            <a th:href="@{/reviews/(reviewOrderType=COMMENT_COUNT_ASC,categoryId=${categoryId})}">
                Comments - least</a>
            <a th:href="@{/reviews/(reviewOrderType=DATE_DESC,categoryId=${categoryId})}">
                Reviews - newest</a>
            <a th:href="@{/reviews/(reviewOrderType=DATE_ASC,categoryId=${categoryId})}">
                Reviews - oldest</a>
            <a th:href="@{/reviews/(reviewOrderType=SCORE_DESC,categoryId=${categoryId})}">
                Reviews - best score</a>
            <a th:href="@{/reviews/(reviewOrderType=SCORE_ASC,categoryId=${categoryId})}">
                Reviews - worst score</a>
        </div>
    </section>
    <section class="grid-item main middle-columns">
        <div class="margin" th:each="review: ${reviews}">
            <div>
                <h2><span th:text="${review.title}">Title</span></h2>
                <p><span th:text="${review.date}">today's date</span><span>
                    Posted by <a
                        th:with="user=${review.user}"
                        th:href="@{/user/user/{id}/(id=${user.id})}"
                        th:text="${review.getUser().getUsername()}"></a></span></p>
                <p>total comments: <span th:text="${review.comments.size()}"></span></p>
                <p>review score: <span th:text="${reviewScore.get(review.id)}"></span></p>

                <div><p th:text="${review.text}">Review</p>
                    <p><a th:href="@{/reviews/review/{id}/(id=${review.id})}">Read more</a></p>
                </div>
            </div>
        </div>
    </section>


    <section class="grid-item middle-columns">
        <p>
            <a th:href="@{/reviews/(pageNumber=${pageNumber - 1})}"
               th:if="${pageNumber != 0}">
                < </a>
            <span th:text="${pageNumber} + 1">current page</span>
            <span>/</span>
            <span th:text="${pageCount}">total pages</span>
            <a th:href="@{/reviews/(pageNumber=${pageNumber + 1})}"
               th:if="${hasNextPage}">
                > </a>
        </p>
    </section>
</section>

</body>
</html>