<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/flex.css}">
    <link rel="stylesheet" th:href="@{/css/links.css}">
</head>

<body>
<section class="grid-container">
    <section class="grid-item header">
        <h1>Header</h1>
    </section>
    <section class="grid-item main middle-columns">
        <form method="post" th:action="@{/user/submit}" th:object="${user}">
            <input th:field="*{id}" type="hidden"/>

            <p>User Name: <input th:field="*{username}" type="text"/></p>
            <p>Password: <input th:field="*{password}" type="password"/></p>
            <p>Verify password: <input th:field=*{retypePassword} type="password"></p>

            <p><input th:value="${user.id != null ? 'Edit' : 'Create'}" type="submit"/></p>
        </form>
    </section>
</section>
</body>
</html>