<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/flex.css}">
    <link rel="stylesheet" th:href="@{/css/links.css}">
</head>

<body>
<section class="grid-container">
    <section class="grid-item header">
        <h1>Header</h1>
    </section>
    <section class="grid-item main middle-columns">
        <form method="post" th:action="@{/user/submit}" th:object="${user}">

            <p>User Name: <input th:field="*{username}" type="text"/></p>
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</span>
            <span>Password: <input th:field="*{password}" type="password"/></span>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
            <p>Verify password: <input th:field=*{confirmPassword} type="password"></p>

            <p><input value="create" type="submit"/></p>


        </form>
    </section>
</section>
</body>
</html>