<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" th:href="@{/css/grid.css}">
    <link rel="stylesheet" th:href="@{/css/flex.css}">
    <link rel="stylesheet" th:href="@{/css/links.css}">
</head>

<body>
<section class="grid-container">

    <section class="grid-item header">
        <ul class="flex-container row justify-center">
            <li><a th:href="@{/categories/all}">Categories</a></li>
            <li><a th:href="@{/reviews/form/(categoryId=${categoryId})}">New Review</a></li>
            <li>
                <div th:replace="fragments/main.html :: authentication"></div>
            </li>
            <li>
                <div sec:authorize="isAuthenticated()"><a
                        th:with="user = ${#authentication.principal}"
                        th:href="@{/user/user/{id}/(id=${user.id})}">My profile</a></div>
            </li>
        </ul>
    </section>

    <section class="grid-item left-columns">
        <section>
            <img th:src="@{'data:image/jpeg;base64,'+${file}}" width="250" height="250"/>
        </section>
        <section>
            <h1><a th:text="${user.username}"></a></h1>
            <p>has <span th:text="${reviewCount}"></span> posts.</p>
            <p>and <span th:text="${commentCount}"></span> comments.</p>
            <p>Their posts received <span
                    th:text="${postUpvotes}"></span> upvotes
            <p> and their comments have received <span
                    th:text="${commentUpvotes}"></span> upvotes </p>
            <p><span>user created on</span> <span th:text="${user.date}"></span></p>
            <p><span>is account hidden? </span><span th:text="${incognito}"></span></p>
        </section>

        <section>
            <div>
                <h2>About <span th:text="${user.username}"></span></h2>
            </div>
            <p>description: </p>
            <p th:text=${user.profileDescription}></p>
            <div th:if="${user.username}==${#authentication.name}">
                <form method="post" th:action="@{/user/{id}/submit/profile-description/(id=${user.id})}"
                      th:object="${user}">
                    <p>description: <textarea th:value="${user.profileDescription}"
                                              th:field="${user.profileDescription}"
                                              type="text"></textarea></p>
                    <input th:field="*{id}" type="hidden"/>
                    <input th:field="*{password}" type="hidden"/>
                    <input th:field="*{username}" type="hidden"/>
                    <input th:value="${user.id != null ? 'Edit' : 'Create' }" type="submit"/>
                </form>
            </div>
        </section>

        <section>
            <div th:if="${user.username}==${#authentication.name}">
                <form method="post" th:action="@{/user/incognito/toggle/{id}/(id=${user.id})}">
                    <span>toggle incognito <input type="submit"/></span>
                </form>
            </div>
        </section>

        <section th:if="${user.username}==${#authentication.name}">
            <form method="post" th:action="@{/uploadFile/(id=${user.id})}" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td>
                            <form path="file" action="">Select a File to Upload</form>
                        </td>
                        <td><input type="file" name="file"/></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Submit"/></td>
                    </tr>
                </table>
            </form>
        </section>
    </section>

    <section class="grid-item middle-columns" th:if="${!incognito} or ${user.username}==${#authentication.name}">
        <section>
            <h2>Reviews</h2>
            <div class="flex-container row justify-center">
                <a th:href="@{/user/user/{id}/(id=${user.id},reviewOrderType=COMMENT_COUNT_DESC)}">
                    Comments - most</a>
                <a th:href="@{/user/user/{id}/(id=${user.id},reviewOrderType=COMMENT_COUNT_ASC)}">
                    Comments - least</a>
                <a th:href="@{/user/user/{id}/(id=${user.id},reviewOrderType=DATE_DESC)}">
                    Reviews - newest</a>
                <a th:href="@{/user/user/{id}/(id=${user.id},reviewOrderType=DATE_ASC)}">
                    Reviews - oldest</a>
                <a th:href="@{/user/user/{id}/(id=${user.id},reviewOrderType=SCORE_DESC)}">
                    Reviews - best score</a>
                <a th:href="@{/user/user/{id}/(id=${user.id},reviewOrderType=SCORE_ASC)}">
                    Reviews - worst score</a>
            </div>
        </section>

        <section>
            <p>
                <a th:href="@{/user/user/{id}/(id=${user.id},pageNumber=${pageNumber - 1}, reviewOrderType=${orderType})}"
                   th:if="${pageNumber != 0}">
                    < </a>
                <span th:text="${pageNumber} + 1">current page</span>
                <span>/</span>
                <span th:text="${pageCount}">total pages</span>
                <a th:href="@{/user/user/{id}/(id=${user.id},pageNumber=${pageNumber + 1}, reviewOrderType=${orderType})}"
                   th:if="${hasNextPage}">
                    > </a>
            </p>
        </section>

        <section>
            <h1>Reviews</h1>
            <ul>
                <li th:each="review: ${reviews}">
                    <p th:text="${#temporals.format(review.date, 'dd-MMMM-yyyy HH:mm')}">
                    <h3 th:text="${review.title}"></h3>
                    <p th:text="${review.text}"><a></a></p>
                </li>
            </ul>
        </section>

        <section>
            <h1>Comments</h1>
            <div class="flex-container row justify-center">
                <a th:href="@{/user/user/{id}/(id=${user.id},commentOrderType=DATE_DESC)}">
                    Comments - newest</a>
                <a th:href="@{/user/user/{id}/(id=${user.id},commentOrderType=DATE_ASC)}">
                    Comments - oldest</a>
                <a th:href="@{/user/user/{id}/(id=${user.id},commentOrderType=SCORE_DESC)}">
                    Comments - best score</a>
                <a th:href="@{/user/user/{id}/(id=${user.id},commentOrderType=SCORE_ASC)}">
                    Comments - worst score</a>
            </div>
        </section>

        <section>
            <ul>
                <li th:each="comment:${comments}">
                    <p th:text="${#temporals.format(comment.date, 'dd-MMMM-yyyy HH:mm')}">
                    <p th:text="|commented on : ${comment.review.title}|"></p>
                    <!--                    <p th:text="|comment score : ${comment.totalScore}|"></p>-->
                </li>
            </ul>
        </section>

        <section>
            <h1>Followed Categories</h1>
            <p>this user follows <span th:text=${followedCategoriesCount}></span> categories</p>
            <ul>
                <li th:each="category:${categories}">
                    <p th:text="${category.name}"></p>
                </li>
            </ul>
        </section>

        <section>
            <h1>Bookmarked Reviews</h1>
            <p>this user bookmarked <span th:text="${bookmarkedReviewsCount}"></span> reviews</p>
            <ul>
                <li th:each="review:${bookmarkedReviews}">
                    <p><span th:text="${review.title}"></span> by <span th:text="${review.user.username}"></span></p>
                </li>
            </ul>
        </section>

    </section>
</section>
</body>
</html>
